h1 {
  margin: 1em 5%;
  border-bottom: 5px solid black;
}

.main-container{
  margin: 1em 5%;
}
.btnEnviar, .btnVolver{
  border: none;
  color: white;
  background-color: rgb(117, 172, 77);
  padding: .7em 2.5em;
  margin: 1em 1em 1em 0;
}

.btnVolver{
  background-color: rgb(214, 159, 107);
}

.sendBtn, .cancelBtn, .addBtn, .deletetBtn{
  border: none;
  color: white;
  background-color: rgb(117, 172, 77);
  padding: .7em 2.5em;
  margin: 1em 1em 1em 0;
}

.cancelBtn {
  background-color: rgb(172, 129, 77);
}

.deletetBtn {
  background-color: rgb(172, 77, 77);
  padding: .3em 1em;
  margin: .3em .3em .3em 1em;
}

.addBtn {
  background-color: rgb(77, 142, 172);
  padding: .3em 1em;
  margin: .3em .3em .3em .6em;
}

@media all and (min-width: 500px) {

  h1 {
    margin: 1em 15%;
    border-bottom: 5px solid black;
  }

  .main-container{
    margin: 1em 15%;
  }
}
