<p-table [value]="VM.Listado">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Ingredientes
      <p-button
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        routerLink="add"
        (click)="VM.add()"
      ></p-button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Foto</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.ingrediente }}</td>
      <td>{{ item.tipo }}</td>
      <td>{{ item.precio | currency: "EUR" }}</td>
      <td>
        <img
          [src]="'assets/' + item.foto"
          [alt]="item.ingrediente"
          width="100"
          class="shadow-4"
        />
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          [routerLink]="[item.id, 'edit']"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="VM.delete(item.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.Listado ? VM.Listado.length : 0 }} ingredientes.
    </div>
  </ng-template>
</p-table>
<p-paginator [first]="VM.rowsPerPage*VM.page" [rows]="VM.rowsPerPage" [totalRecords]="VM.totalRows" [pageLinkSize]="5"
  (onPageChange)="VM.load($event.page)"></p-paginator>
