<p-table [value]="VM.Listado">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Pedidos
      <p-button
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        routerLink="add"
        (click)="VM.add()"
      ></p-button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Identificador del pedido</th>
      <th>Identificador del cliente</th>
      <th>Hora del pedido</th>
      <th>Dirección</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.idPedido }}</td>
      <td>{{ item.idCliente }}</td>
      <td>{{ item.horaPedido}}</td>
      <td>{{ item.direccion}}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          [routerLink]="[item.idPedido, 'edit']"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="VM.delete(item.idPedido)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.Listado ? VM.Listado.length : 0 }} pedidos.
    </div>
  </ng-template>
</p-table>
