<div class="usuarios">
<p-table [value]="VM.Listado" [paginator]="true" [rows] = "10" [showCurrentPageReport]="true" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Usuarios
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Username</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dirección</th>
      <th>Rol</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.username }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellido }}</td>
      <td>{{ item.direccion }}</td>
      <td>{{ item.rol }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-raised p-button-success mr-2"
          [routerLink]="[item.username, 'edit']"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-danger p-button-warning"
          (click)="VM.delete(item.username)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.Listado ? VM.Listado.length : 0 }} usuarios.
    </div>
  </ng-template>
</p-table>
</div>
