<h1>Editar usuario</h1>
<div class="main-container">
  <form #miForm="ngForm">

      <div class="form-group">
        <b><span>Usuario: </span></b> <label class="form-label">{{ VM.Elemento.nombre }} {{ VM.Elemento.apellido }}</label>
      </div>

      <b><span>Roles: </span></b>
      <input class="addBtn" type="button" value="+" (click)="VM.addRol('rol', 'ROLE_USER')">

      <!-- <input type="button" value="+" (click)="VM.addRol('roles','')"> -->
      <ul>
        <li *ngFor="let item of VM.Elemento.rol; let indice = index">
          <select class="form-control form-select" name="rol{{ indice }}"
            [(ngModel)]="VM.Elemento.rol[indice]" required >
            <option value="ROLE_USER">Usuario</option>
            <option value="ROLE_EMPLOYED">Empleado</option>
            <option value="ROLE_ADMIN">Administrador</option>
          </select>
          <input class="deletetBtn" type="button" value="X" (click)="VM.delRol('rol', indice)" />
        </li>
      </ul>

    <div class="form-group">
      <input
        type="button"
        class="sendBtn"
        value="Enviar"
        (click)="VM.send()"
        [disabled]="miForm.invalid"
      />
      <input
        type="button"
        class="cancelBtn"
        value="Volver"
        (click)="VM.cancel()"
      />
    </div>
  </form>
</div>
