h1 {
  margin: 1em 5%;
  border-bottom: 5px solid black;
}

.main-container{
  margin: 1em 5%;
}

.sendBtn{
  border: none;
  color: white;
  background-color: rgb(214, 159, 107);
  padding: .7em 3em;
}


@media all and (min-width: 500px) {
  h1 {
    margin: 1em 15%;
    border-bottom: 5px solid black;
  }

  .main-container{
    margin: 1em 15%;
  }

}
