<div class="cardList">

  <div *ngFor="let item of VM.Listado" styleClass="p-card-shadow"
  gdAreas="header header | side side | footer carrito"
  gdGap="16px"
  gdRows="auto auto auto"
  gdAreas.lt-md="header  | side | footer | carrito"
  gdRows.lt-md="auto auto auto auto"
  >
  <div class="cardProduct">
    <div [style.grid-area]="'header'" class = "fotocar">
      <img
            [src]="'assets/' + item.foto"
            [alt]="item.nombre"
            width="100"
          />
    </div>
    <div [style.grid-area]="'side'" class = "texcar">
      <div class = "nomProducto">
        {{ item.nombre }}
      </div>
    </div>
    <div [style.grid-area]="'footer'" class = "precio">
      <div class = "precioProducto" [style]="{ 'margin-top': '.5em'}">
      {{ item.precio + "€" }}
      </div>
    </div>
    <div [style.grid-area]="'carrito'" class ="carrito">
      <p-button class ="carritoProducto"
            icon="pi pi-shopping-cart"
            [style]="{ 'margin-left': '.5em'}"
            [style]="{'background-color': 'rgb(117, 172, 77)'}"
            (onClick)="VM.carrito.addToCarrito(item)"
      ></p-button>
    </div>
  </div>
</div>
</div>


