<h1>Pedido</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="estadoPedido">Estado:</label>
      <select
        class="form-control form-select"
        name="estadoPedido"
        id="estadoPedido"
        [(ngModel)]="VM2.Elemento.estadoPedido"
        #estadoPedido="ngModel"
        required
      >
        <option value="ordered">Pedido realizado</option>
        <option value="in_process">Pedido cocinándose</option>
        <option value="ready">Pedido listo para su recogida</option>
      </select>
    </div>

    <div class="form-group">
      <input
        type="button"
        class="btn btn-success"
        value="Enviar"
        (click)="VM2.send()"
        [disabled]="miForm.invalid"
      />
      <input
        type="button"
        class="btn btn-info"
        value="Volver"
        (click)="VM2.cancel()"
      />
    </div>

  </div>
</form>
