<div class="main-container">
<p-table [value]="VM.ListadoReadies" [paginator]="true" [rows] = "5" [showCurrentPageReport]="true" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <ul>
        <li>En espera</li>
      </ul>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Identificador del pedido</th>
      <th>Hora del pedido</th>
      <th>Productos</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.idPedido }}</td>
      <td>{{ item.horaPedido }}</td>
      <ul *ngFor="let product of item.productosDelPedido">
        <li>Producto: {{product.nombreProducto}}</li>
        <li>Cantidad: {{product.cantidadProducto}}</li>
      </ul>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-rounded p-button-success mr-2"
          (click) = "VM.send(item.idPedido)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.ListadoReadies ? VM.ListadoReadies.length : 0 }} pedidos esperando.
    </div>
  </ng-template>
</p-table>

<p-table [value]="VM.ListadoSents" [paginator]="true" [rows] = "5" [showCurrentPageReport]="true" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <ul>
        <li>En reparto</li>
      </ul>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Identificador del pedido</th>
      <th>Hora del pedido</th>
      <th>Productos</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.idPedido }}</td>
      <td>{{ item.horaPedido }}</td>
      <ul *ngFor="let product of item.productosDelPedido">
        <li>Producto: {{product.nombreProducto}}</li>
        <li>Cantidad: {{product.cantidadProducto}}</li>
      </ul>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-rounded p-button-success mr-2"
          (click) = "VM.send(item.idPedido)"
        > </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.ListadoSents ? VM.ListadoSents.length : 0 }} pedidos elaborándose.
    </div>
  </ng-template>
</p-table>
</div>
