<p-table [value]="VM.Listado">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <ul>
        <li>Listos para repartir</li>
      </ul>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Identificador del pedido</th>
      <th>Hora del pedido</th>
      <th>Productos</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.idPedido }}</td>
      <td>{{ item.horaPedido }}</td>
      <ul *ngFor="let product of item.productosDelPedido">
        <li>Producto: {{product.nombreProducto}}</li>
        <li>Cantidad: {{product.cantidadProducto}}</li>
      </ul>
      <td>{{ item.estado}}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-rounded p-button-success mr-2"
          [routerLink]="[item.idPedido, 'edit']"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="VM.delete(item.idPedido)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.Listado ? VM.Listado.length : 0 }} pedidos listos para repartir.
    </div>
  </ng-template>
</p-table>


<br><br><br>




<p-table [value]="VM2.Listado">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <ul>
        <li>En reparto</li>
      </ul>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Identificador del pedido</th>
      <th>Hora del pedido</th>
      <th>Productos</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.idPedido }}</td>
      <td>{{ item.horaPedido }}</td>
      <ul *ngFor="let product of item.productosDelPedido">
        <li>Producto: {{product.nombreProducto}}</li>
        <li>Cantidad: {{product.cantidadProducto}}</li>
      </ul>
      <td>{{ item.estado}}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-rounded p-button-success mr-2"
          [routerLink]="[item.idPedido, 'edit']"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="VM2.delete(item.idPedido)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM2.Listado ? VM2.Listado.length : 0 }} pedidos en reparto.
    </div>
  </ng-template>
</p-table>
