<h1>Producto</h1>
<form #miForm="ngForm">
  <!--
  <div class="p-grid p-fluid">
    <div class="p-field p-col-12 p-md-3">
        <label for="stacked">Stacked</label>
        <p-inputNumber [(ngModel)]="VM.Elemento.id" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
        </p-inputNumber>
    </div>
  </div> -->

  <div class="form-row">
    <ng-container *ngIf="VM.Modo === 'add'">
      <div class="form-group col-md-2">
        <label class="form-label" for="tipo">Tipo:</label>
        <select
          class="form-control form-select"
          name="tipo"
          id="tipo"
          [(ngModel)]="VM.Elemento.tipo"
          #tipo="ngModel"
          required
        >
          <option value="1">Entrante</option>
          <option value="2">Bebida</option>
          <option value="3">Pizza</option>
        </select>
      </div>
    </ng-container>

    <ng-container *ngIf="VM.Elemento.tipo == 3">
      <div class="form-group col-md-1">
        <label class="form-label" for="base">Base:</label>
        <select [(ngModel)]="VM.Elemento.base" name="base" class="form-control form-select">
          <option *ngFor="let item of VM.Bases" [value]="item.id">
            {{ item.ingrediente }}
          </option>
        </select>
      </div>

      <div class="form-group col-md-1">
        <label class="form-label" for="salsa">Salsa:</label>
        <select [(ngModel)]="VM.Elemento.salsa" name="salsa" class="form-control form-select">
          <option *ngFor="let item of VM.Salsa" [value]="item.id">
            {{ item.ingrediente }}
          </option>
        </select>
      </div>


      <div class="form-group col-md-4">
        <label class="form-label" for="rol">Ingredientes:</label>
        <p-button
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="
            VM.addDetalle('ingredients', { id_ingrediente: 0, cantidad: 0 })
          "
        ></p-button>

        <ul>
          <li *ngFor="let item of VM.Elemento.pizza.ingredients; let indice = index">

            <select
              class="form-control form-select"
              name="ingredients{{ indice }}"
              [(ngModel)]="VM.Elemento.pizza.ingredients[indice].id_ingrediente"
              required
            >
              <option *ngFor="let item of VM.Ingredientes" [value]="item.id">
                {{ item.ingrediente }}
              </option>
            </select>
            <input
              class="form-control"
              [class.is-invalid]="nombre.invalid"
              type="text"
              name="cantidad{{ indice }}"
              [(ngModel)]="VM.Elemento.pizza.ingredients[indice].cantidad"
              required
              maxlength="50"
            />

            <div
              class="invalid-feedback"
              [hidden]="!nombre.hasError('maxlength')"
            >
              Debe tener como máximo 50 letras.
            </div>
            <input
              type="button"
              value="x"
              (click)="VM.delDetalle('ingredients', indice)"
            />
          </li>
        </ul>
      </div>
    </ng-container>

    <div class="form-group col-md-4">
      <label class="form-label" for="nombre">Nombre:</label>
      <input
        class="form-control"
        [class.is-invalid]="nombre.invalid"
        type="text"
        name="nombre"
        id="nombre"
        [(ngModel)]="VM.Elemento.nombre"
        #nombre="ngModel"
        required
        maxlength="50"
      />
      <div class="invalid-feedback" [hidden]="!nombre.hasError('required')">
        Es obligatorio
      </div>
      <div class="invalid-feedback" [hidden]="!nombre.hasError('maxlength')">
        Debe tener como máximo 50 letras.
      </div>
    </div>

    <div class="form-group col-md-4">
      <label class="form-label" for="descripcion">Descripción:</label>
      <input
        class="form-control"
        [class.is-invalid]="descripcion.invalid"
        type="text"
        name="descripcion"
        id="descripcion"
        [(ngModel)]="VM.Elemento.descripcion"
        #descripcion="ngModel"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-12">
      <label class="form-label" for="precio">Precio:</label>
      <input
        class="form-control"
        [class.is-invalid]="precio.invalid"
        type="text"
        name="precio"
        id="precio"
        [(ngModel)]="VM.Elemento.precio"
        #precio="ngModel"
        pattern="^(-?[1-9]+\d*([.]\d+)?)$|^(-?0[.]\d*[1-9]+)$|^0$|^0.0$"
        required
      />
      <output class="error" [hidden]="!precio.hasError('pattern')">
        Formato inválido
      </output>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-12">
      <label class="form-label" for="foto">Foto:</label>
      <input
        class="form-control"
        [class.is-invalid]="foto.invalid"
        type="text"
        name="foto"
        id="foto"
        [(ngModel)]="VM.Elemento.foto"
        #foto="ngModel"
        maxlength="200"
      />
      <div class="invalid-feedback" [hidden]="!foto.hasError('maxlength')">
        Debe tener menos 200 caracteres.
      </div>
      <div class="invalid-feedback" [hidden]="!foto.hasError('type')">
        {{ foto.hasError("type") }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="button"
      class="btn btn-success"
      value="Enviar"
      (click)="VM.send()"
      [disabled]="miForm.invalid"
    />
    <input
      type="button"
      class="btn btn-info"
      value="Volver"
      (click)="VM.cancel()"
    />
  </div>
</form>

<!-- {
  "foto": "string",
  "idIngrediente": 0,
  "ingrediente": "string",
  "precio": 0,
  "tipo": "base"
} -->
