<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
        <div class="text-center">
            <i class="pi pi-trash" style="font-size: 3rem"></i>
            <h4>{{message.summary}}</h4>
            <p>{{message.detail}}</p>
        </div>
        <div class="grid p-fluid">
            <div class="col-6">
                <button type="button" pButton (click)="onConfirm()" label="Sí" class="p-button-success"></button>
            </div>
            <div class="col-6">
                <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
            </div>
        </div>
    </div>
</ng-template>
</p-toast>
<p-table [value]="VM.Listado" [paginator]="true" [rows] = "10" [showCurrentPageReport]="true" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Productos
      <input class="addBtn" type="button" value="+" routerLink="add" (click)="VM.add()">
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Foto</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.nombre }}</td>
      <td>{{ item.descripcion }}</td>
      <td>{{ item.precio | currency: "EUR" }}</td>
      <td>
        <img
          [src]="'assets/' + item.foto"
          [alt]="item.nombre"
          width="100"
          class="shadow-4"
        />
      </td>

      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          [routerLink]="[item.id, 'edit']"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="VM.seguro(item.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay {{ VM.Listado ? VM.Listado.length : 0 }} productos.
    </div>
  </ng-template>
</p-table>
